<h1 style="text-align: center;">{{titulo}}</h1>
<div>
    <form [formGroup]="form">
        <br>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-form-field>
                <mat-label>Numero de Identificación</mat-label>
                <input matInput formControlName="identificacion" #message maxlength="45"
                    placeholder="Numero de Identificación">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input matInput formControlName="nombre" #message maxlength="45" placeholder="Name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Primer Apellido</mat-label>
                <input matInput formControlName="apellido1" #message maxlength="45" placeholder="Primer Apellido">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Segundo Apellido</mat-label>
                <input matInput formControlName="apellido2" #message maxlength="45" placeholder="Segundo Apellido">
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <button class="boton" [disabled]="!form.valid" (click)='clickEnviar()' mat-raised-button>
                Enviar
            </button>

            <button class="boton" (click)='onCancelar()' mat-raised-button>
                Cancelar
            </button>

            <button *ngIf="editar" (click)='onEliminar()' class="boton eliminar">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </form>

    <br><br>

</div>

<div fxLayoutAlign="space-evenly center">
    <mat-form-field appearance="standard" class="filtro">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="identificacion">
            <th mat-header-cell *matHeaderCellDef> Identificación </th>
            <td mat-cell *matCellDef="let element"> {{element.identificacion}} </td>
        </ng-container>

        <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef> Nombres </th>
            <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
        </ng-container>

        <ng-container matColumnDef="apellido1">
            <th mat-header-cell *matHeaderCellDef>Primer Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.primerApellido}} </td>
        </ng-container>

        <ng-container matColumnDef="apellido2">
            <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.segundoApellido}} </td>
        </ng-container>

        <!--editar-->
        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let element">
                <div class="example-button-container">
                    <button mat-icon-button (click)='onEditarClick(element)'>
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Ninguna coincidencia con el filtro "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>